body {
    font-family: 'Segoe UI', Tahoma, Verdana, Geneva, sans-serif
}

input, textarea {
    font-size: 18px;
    width: 200px;
}

input[type=submit]{
    width: auto;
}
/*Styling the ID tag*/
#theForm {
    background-color: lightgrey;
}

#theForm input[type=submit] {
    background-color: green;
}

label {
    font-size: 16px;
}

ul.product-props {
    font-size: small;
}

ul.product-props li{
    list-style-type: none;
}
/*Product info div with mac miller pic, by default divs are displayed in a type called block,
    block takes as much horizontal space as possible, so we can inline-block it to make border 
    cover our content only. Allows things to be next to each other.
*/
.product-info {
    border: 1px solid grey;
    display: inline-block;
    padding: 8px 2px;
    margin: 2px;
    width: 450px;
    background-color: lightgrey;
    border-radius: 5px;
}
/*Float left here allows the rest of the content within our div to be shown on the right
    of the image.
*/
.product-info img {
    margin: 3px;
    width: 200px;
    height: 200px;
    float: left;
    border: 1px solid black;
    max-width: 200px;
}


#loginToggle {
    cursor: pointer;
}

.popup-form {
    padding: 5px;
    border: 2px black inset;
    display: inline-block;
}
.popup-form input {
    width: 200px;
}
/*We change display to inline block here (default inline) as if we don't it will just
    display the width of the text
*/
.popup-form label {
    width: 150px;
    display: inline-block;
}
/*Settings width to auto makes it as small as possible*/
.popup-form input[type=checkbox], .popup-form input[type=submit]{
    width: auto;
}